
notes.md
upwebdata.sh

scraping/operaprices/settings.py
scraping/scrapinghub.yml
scraping/__pycache__/
*.py[cod]
scraping/build
scraping/*.egg-info/


web/node_modules
web/config/app.js
web/dist
web/npm-debug.log
