node_modules
npm-debug.log

client/config/app.js
client/dist
client/static/json/*
!client/static/json/.gitkeep
!client/dist/.gitkeep

server/config/local.yml

data/*
!data/.gitkeep

docker/crawler/ssh/*

.vagrant
ansible/secrets

.ipynb_checkpoints
__pycache__
